
.profilee-main-container{
  padding: .8rem .5rem;
  /* overflow: hidden; */
}
.profilee-main-container h2{
  font-size: 1.2rem;
  font-weight: 700;
}
.top-headingp{
  border-bottom: 1px solid #ddd;
  line-height: 25px;
padding-bottom: 1rem;
}
.profile-sections{
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  margin-top: 1rem;
  gap: 1rem;
  
}
.sec-div{
  line-height: 1.8rem;
  margin-bottom: 1rem;
}
.sec-div button{
  width: 100%;
  height: 1.5rem;
  background-color: #f7f7f5;
  border: none;
  border-radius: 5px;
  box-shadow: -4px 4px 0px 0px #f1f1f1;



}
.sec-div h4{
  font-size: .9rem;
  font-weight: 700;
}
.section{
  flex: 30%;
  /* flex: 1; */
}